<h2>List of celebrities</h2>

<ul>
  {{#each celebrities}}
    <li>
      <h5>Name: {{name}}</h5>
      <br>
      <p>Occupation: {{occupation}}</p>
      <br>
      <p>Always says: {{catchPhrase}}</p>
    </li>
  {{/each}}
</ul>

<a href="/">Homepage</a>