<h2>Make your celebrity</h2>
<form action="/celebrities/create" method="POST">

<label>Name
    <input type="text" name="name" placeholder="Haaland">
</label><br>

<label>Occupation
    <input type="text" name="occupation" placeholder="...">
</label><br>

<label>Catch phrase
    <input type="text" name="catchPhrase" placeholder="...">
</label><br>

<button type="submit">Create!</button>

</form>