<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
            <li>
               <a href="/celebrities/create">Create a celeb</a>
            </li>
               <br>
            <li>
               <a href="/celebrities">List of celebs in the database</a>
            </li>
             <br>
            <li>
               <a href="/movies/create">Create movies!</a>
            </li>
            <br>
            <li>
               <a href="/movies">List of movies</a>
            </li>

